.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Label {
    color: white;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #FFEF02;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #696969;
    border: 1px solid #708090;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #9DA3A4;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #C6001E;
    color: white;
}

.BuildControl .More {
    background-color: #C6001E;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #FFEF02;
    color: #C6001E;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #FFEF02;
    color: #C6001E;
}